#footer{
    background:rgb(13, 0, 33);
    color:#fff;
    margin:2rem 0 0 0;
    padding: 2rem 1rem 0 1rem;
}
#footer h2{
    font-weight: bold;
    font-size: 1.5rem;
    margin:1rem 0 1rem 0;
}
#footer ul{
    list-style: none;
    display: flex;
    gap:1.5rem;
    padding: 2rem 0;
}

#footer img{
    max-width:90%;
}
#footer p{
    padding:1rem 0;
    text-align: center;
    ont-size:1.2rem;
}
#footer p a{
    color:#fff;
    font-family: 300;
}