/* font-family: 'Anton', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Sigmar', cursive; */
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  overflow-x: hidden;
}

h1{
  font-family: 'Sigmar', cursive;
}
p,h2{
  font-family: 'PT Sans', sans-serif;
}
